{% extends "base.html" %}

{% block content %}
<section class="hero is-fullheight-with-navbar is-flex is-flex-direction-column is-justify-content-flex-start mt-4  ">
    <h1 class="title has-text-centered">Register</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.lastname.label(class_="label")}}
            <p class="control has-icons-left has-icons-right">
                {{ form.lastname(class_="input")}}
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                {% for error in form.lastname.errors %}
                <span class="help is-danger">{{ error }}</span>
                {% endfor %}
        </div>
        <div class="field">
            {{ form.firstname.label(class_="label")}}
            <p class="control has-icons-left has-icons-right">
                {{ form.firstname(class_="input")}}
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                {% for error in form.lastname.errors %}
                <span class="help is-danger">{{ error }}</span>
                {% endfor %}
        </div>
        <div>
            {{ form.gender.label(class_="label")}}
            <div class="select">
                {{form.gender}}
            </div>
            {% for error in form.gender.errors %}
            <span class="help is-danger">{{ error.replace(".", "")}}</span>
            {% endfor %}
        </div>
        <div class="field">
            {{ form.username.label(class_="label")}}
            <p class="control has-icons-left has-icons-right">
                {{ form.username(class_="input")}}
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                {% for error in form.lastname.errors %}
                <span class="help is-danger">{{ error }}</span>
                {% endfor %}
        </div>
        <div class="field">
            {{ form.email.label(class_="label")}}
            <p class="control has-icons-left has-icons-right">
                {{ form.email(class_="input")}}
                <span class="icon is-small is-left">
                   <i class="fas fa-envelope"></i>
                </span>
                {% for error in form.lastname.errors %}
                <span class="help is-danger">{{ error }}</span>
                {% endfor %}
        </div>
        <div class="field">
            {{ form.password.label(class_="label")}}
            <p class="control has-icons-left has-icons-right">
                {{ form.password(class_="input")}}
                <span class="icon is-small is-left">
                   <i class="fas fa-lock"></i>
                </span>
                {% for error in form.password.errors %}
                <span class="help is-danger">{{ error }}</span>
                {% endfor %}
        </div>
        <div class="field">
            {{ form.password2.label(class_="label")}}
            <p class="control has-icons-left has-icons-right">
                {{ form.password2(class_="input")}}
                <span class="icon is-small is-left">
                   <i class="fas fa-lock"></i>
                </span>
                {% for error in form.password2.errors %}
                <span class="help is-danger">{{ error }}</span>
                {% endfor %}
        </div>
        <div id="file-js-example" class="file has-name">
            <label class="file-label">
                {{ form.profile_picture(class_="file-input") }}
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        {{ form.profile_picture.label }}
                    </span>
                </span>
                <span class="file-name">
                        No file uploaded
                </span>
            </label>
        </div>
        {% for error in form.profile_picture.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <div class="field">
            <p class="control has-text-centered mg-medium">
                {{ form.submit(class_="button is-success")}}
            </p>
        </div>
        </div>
    </form>
    <p class="control has-text-centered mt-5">Already have an account? <a href="{{ url_for('login') }}">Click to
        login!</a></p>
</section>
{% endblock %}