{% extends "base.html" %}

{% block content %}
<section class="hero is-fullheight-with-navbar is-flex is-flex-direction-column is-justify-content-flex-start mt-4  ">
    <h1 class="title has-text-centered">Upload your file</h1>
    <h2 class="subtitle has-text-centered">CSV or Excel files only</h2>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.title.label(class_="label")}}
            <p class="control has-icons-left has-icons-right">
                {{ form.title(class_="input")}}
                <span class="icon is-small is-left">
                    <i class="fas fa-file-excel"></i>
                </span>
                {% for error in form.title.errors %}
                <span class="help is-danger">{{ error }}</span>
                {% endfor %}
        </div>
        <div class="file">
            <label class="file-label">
                 {{ form.file(class_="file-input") }}
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        {{ form.file.label }}
                    </span>
                </span>
            </label>
        </div>
        {% for error in form.file.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <div class="field">
            <p class="control has-text-centered mg-medium">
                {{ form.submit(class_="button is-success")}}
            </p>
        </div>
        </div>
    </form>
   <h1 class="title mt-6">History of uploaded files</h1>
    <div class="mt-4">
    {% if files_uploaded%}
        <table class="table table is-striped">
            <thead>
            <tr>
                <th>title</th>
                <th>filename</th>
                <th>upload_at</th>
            </tr>
            </thead>
            <tbody>
            {% for file_uploaded in files_uploaded %}
            <tr>
                <td>{{ file_uploaded.title }}</td>
                <td>{{ file_uploaded.filename }}</td>
                <td>{{ file_uploaded.upload_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2 class="subtitle">Upload a file</h2>
        {% endif %}
    </div>
</section>
{% endblock %}