{% extends "base.html" %}
{% block content %}
<div class="section">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="../static/uploads/{{ user.profile_picture }}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{ user.firstname.capitalize() }} {{ user.lastname.upper()}}</p>
                    <p class="subtitle is-6">@{{ user.username }}</p>
                    <div class="content">
                        <p>
                            <strong>Email:</strong> {{ user.email }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}